@import "includes/base";
@import "helpers/variables";

.menu {
  & {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;

    @media screen and (max-height: 450px) {
      & {overflow-y: auto;}
    }
  }

  & a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover, &:focus {
      color: #f1f1f1;
    }

    @media screen and (max-height: 450px) {
      & {font-size: 20px}
    }
  }

  &--btn {
    width: 70px;
    height: 70px;
    background-color: $menu-background;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: width .5s 1s cubic-bezier(0.01, 0.74, 0.4, 1), height .5s .5s cubic-bezier(0.01, 0.74, 0.4, 1), background .3s linear;
    z-index: 150;

    & > a {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &.open > a {
      height: 70px;
      width: 70px;
      display: block;
      float: left;
      z-index: 151;
    }

    &:hover {
      & span:before {
        top: 14px;
      }

      & span:after {
        bottom: 14px;
      }
    }

    & span {
      width: 30px;
      height: 2px;
      background: white;
      display: block;
      position: absolute;
      top: 35px;
      left: 20px;
      transition: all 0.3s linear;

      &:before {
        top: 9px;
        left: 0;
      }

      &:after {
        bottom: 9px;
        left: 0;
      }

      &:after, &:before {
        content: "";
        background: white;
        position: absolute;
        width: 30px;
        height: 2px;
        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
      }
    }

    &.open {
      span {
        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
        height: 0;

        &:before {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
          top: auto;
          cursor: pointer;
        }

        &:after {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          bottom: auto;
        }
      }

      &:hover {
        & span:before {
          top: auto;
        }

        & span:after {
          bottom: auto;
        }
      }
    }
  }

  &-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.title {
  & h1 {
    z-index: 2;
    color: #1c1c1c;
    text-shadow: none;
    opacity: .8;
    transition: all .2s linear;
    font-size: .75rem;
    position: absolute;
    top: 30px;
    left: 90px;
    letter-spacing: .4em;
    text-transform: uppercase;
    opacity: .85;
  }

  span {
    text-transform: none;
    letter-spacing: .2em;
    opacity: .7;
    -webkit-font-smoothing: initial;
  }
}

.photo-wrapper {
  & {
    text-align: center;
    margin-top: 6em;

    @media (min-width: 767px) {
      & {
        position: fixed;
        width: 50%;
        height: auto;
      }
    }
  }
}
.about-text {
  color: white;
  background-color: #252525;
  padding: 2em 3.2em;
  font-family: 'Avenir' !important;

  & h1 {
    font-size: 5em;
    letter-spacing: -0.07em;
    line-height: 100%;
    margin-top: 0.8em;
    color: $base-color;
    font-weight: 200 !important;
  }

  &  h2 {
    font-size: 2em;
    line-height: 120%;
    margin-bottom: 0.5em;
    font-weight: 200 !important;
  }

  &  h5 {
    font-weight: 200 !important;
  }
}
