@import "includes/base";
@import "helpers/variables";
@import "mixins/projects";

.menu {
  & {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    overflow-y: hidden;

    width: 100%;
    height: 0%;

    transition: 0.5s;

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);

    @media screen and (max-height: 450px) {
      & {overflow-y: auto;}
    }
  }

  & a {
    display: block;

    padding: 8px;

    transition: 0.3s;
    text-decoration: none;
  }

  &--btn {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;

    width: 70px;
    height: 70px;

    transition: width .5s 1s cubic-bezier(0.01, 0.74, 0.4, 1), height .5s .5s cubic-bezier(0.01, 0.74, 0.4, 1), background .3s linear;

    background-color: $about;

    & > a {
      position: absolute;

      width: 100%;
      height: 100%;
    }

    &.open > a {
      z-index: 151;

      display: block;
      float: left;

      width: 70px;
      height: 70px;
    }

    &:hover {
      & span:before {
        top: 14px;
      }

      & span:after {
        bottom: 14px;
      }
    }

    & span {
      position: absolute;
      top: 35px;
      left: 20px;

      display: block;

      width: 30px;
      height: 2px;

      transition: all 0.3s linear;

      background: white;

      &:before {
        top: 9px;
        left: 0;
      }

      &:after {
        bottom: 9px;
        left: 0;
      }

      &:after, &:before {
        position: absolute;

        width: 30px;
        height: 2px;

        content: "";
        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);

        background: white;
      }
    }

    &.open {
      span {
        height: 0;

        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);

        &:before {
          top: auto;

          cursor: pointer;
          transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        &:after {
          bottom: auto;

          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

      &:hover {
        & span:before {
          top: auto;
        }

        & span:after {
          bottom: auto;
        }
      }
    }
  }

  &-content {
    position: relative;
    top: 15%;

    width: 100%;
    margin-top: 30px;

    text-align: center;

    & h6 {
      margin-top: 2em;
      margin-bottom: 0;

      transition: all .5s .65s cubic-bezier(0.01, 0.74, 0.4, 1);
      transform: translate(0px, 0px) scale(1, 1);
      letter-spacing: 0.2em;
      text-transform: uppercase;

      opacity: 1;
      color: gray;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      font-size: 0.875em;
    }

    &--item {
      color: white;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

      font-size: 2em;
    }

    & ul {

      & {
        margin: 0;
        padding: 0;

        list-style: none;
      }
    }
  }

  & hr {
    width: 15%;
    margin-top: 5.5em;

    border-color: white;
  }
}

.title {
  & h1 {
    position: absolute;
    z-index: 2;
    top: 30px;
    left: 90px;

    transition: all .2s linear;
    letter-spacing: .4em;
    text-transform: uppercase;

    opacity: .8;
    opacity: .85;
    color: #1c1c1c;
    text-shadow: none;

    font-size: .75rem;
  }

  span {
    letter-spacing: .2em;
    text-transform: none;

    opacity: .7;

    -webkit-font-smoothing: initial;
  }
}

.social-icons {
  & {
    display: flex;
    justify-content: center;
  }

  svg {
    height: 2rem;
    margin-right: 20px;
    fill: gray;
  }
}

.section {
  &--btn {
    display: inline-block;

    margin-top: 1em;
    padding: 2em 5em;

    transition: all 0.5s ease-in-out;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.2);

    font-size: 0.875em;

    &:hover {
      padding: 2em 5.5em;

      text-decoration: none;

      color: #fff;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &--img {
    z-index: 1;

    text-align: center;

    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: 768px) {
      & {
        position: relative;

        height: 800px;
      }
    }

    @media screen and (max-width: 568px) {
      & {
        height: 550px;
      }
    }

    @media screen and (max-width: 400px) {
      & {
        height: 330px;
      }
    }
  }

  &--text {
    padding: 5.5em 3.2em;

    text-align: center;

    color: white;

    @media screen and (min-width: 576px) {
      & {
        padding: 9em 3em;
      }
    }

    @media screen and (min-width: 768px) {
      & {
        padding: 14em 3em;
      }
    }

    @media screen and (min-width: 992px) {
      & {
        padding: 17em 3em;
      }
    }

    @media screen and (min-width: 1200px) {
      & {
        padding: 20em 3em;
      }
    }

    h1, h2, h3, h4, h5, h6, p {
      font-family: 'Avenir' !important;
      font-weight: 200 !important;
    }

    & h2 {
      margin: .4em 0em 1em;

      font-size: 3.750em;

      @media screen and (max-width: 768px) {
        & {
          margin: .5em 0em;

          font-size: 3em;
        }
      }
    }

    & p {
      letter-spacing: 0.05em;
    }

    & hr {
      width: 11%;


      border-color: white;

      @media screen and (max-width: 768px) {
        & {
          margin-top: 2.5em;
        }
      }

    }

    & img {
      margin: 0 auto;
    }
  }
}

.about {
  &-img {
    margin-top: 4em;

    background-position: center top;
    background-size: auto 110%;
  }

  &-text {
    & h2 {
      color: #fff;

      font-size: 5em;
    }

    &  h6 {
      margin-bottom: 0.5em;

      font-size: 2em;
    }
  }
}

@include project-color('about', $about);
@include project-color('fehandbags', $fehandbags);
@include project-color('eldorado', $eldorado);
@include project-color('manik', $manik);
@include project-color('below', $below);
