@import "includes/base";
@import "helpers/variables";

.menu {
  & {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;

    @media screen and (max-height: 450px) {
      & {overflow-y: auto;}
    }
  }

  & a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;

    &:hover, &:focus {
      color: #f1f1f1;
    }

    @media screen and (max-height: 450px) {
      & {font-size: 20px}
    }
  }

  &--btn {
    width: 70px;
    height: 70px;
    background-color: $menu-background;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: width .5s 1s cubic-bezier(0.01, 0.74, 0.4, 1), height .5s .5s cubic-bezier(0.01, 0.74, 0.4, 1), background .3s linear;
    z-index: 150;

    & > a {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &.open > a {
      height: 70px;
      width: 70px;
      display: block;
      float: left;
      z-index: 151;
    }

    &:hover {
      & span:before {
        top: 14px;
      }

      & span:after {
        bottom: 14px;
      }
    }

    & span {
      width: 30px;
      height: 2px;
      background: white;
      display: block;
      position: absolute;
      top: 35px;
      left: 20px;
      transition: all 0.3s linear;

      &:before {
        top: 9px;
        left: 0;
      }

      &:after {
        bottom: 9px;
        left: 0;
      }

      &:after, &:before {
        content: "";
        background: white;
        position: absolute;
        width: 30px;
        height: 2px;
        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
      }
    }

    &.open {
      span {
        transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
        height: 0;

        &:before {
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          transition: all .3s cubic-bezier(0.01, 0.74, 0.4, 1);
          top: auto;
          cursor: pointer;
        }

        &:after {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          bottom: auto;
        }
      }

      &:hover {
        & span:before {
          top: auto;
        }

        & span:after {
          bottom: auto;
        }
      }
    }
  }

  &-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
}

.title {
  & h1 {
    z-index: 2;
    color: #1c1c1c;
    text-shadow: none;
    opacity: .8;
    transition: all .2s linear;
    font-size: .75rem;
    position: absolute;
    top: 30px;
    left: 90px;
    letter-spacing: .4em;
    text-transform: uppercase;
    opacity: .85;
  }

  span {
    text-transform: none;
    letter-spacing: .2em;
    opacity: .7;
    -webkit-font-smoothing: initial;
  }
}

.section {
  &--btn {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    padding: 2em 5em;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 1em;
    border: 1px solid #fff;
    transition: all 0.5s ease-in-out;

    &:hover {
      text-decoration: none;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 2em 5.5em;
    }

  }

  &--img {
    background-color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);

    @media screen and (max-width: 768px) {
      & {
        position: relative;
        height: 800px;
      }
    }

    @media screen and (max-width: 568px) {
      & {
        height: 550px;
      }
    }

    @media screen and (max-width: 400px) {
      & {
        height: 330px;
      }
    }
  }

  &--text {
    background-color: #E04527;
    color: white;
    padding: 12em 3.2em;
    text-align: center;

    h1, h2, h3, h4, h5, h6, p {
      font-weight: 200 !important;
      font-family: 'Avenir' !important;
    }

    h2 {
      font-size: 3.750em;
      margin: .5em 0em 1em;
    }

    p {
      letter-spacing: 0.05em;
    }

    @media screen and (max-width: 768px) {
      & {
        padding: 4em 3em;
      }
    }

    & hr {
      border-color: white;
      width: 11%;
    }
  }
}

.about {
  &-img {
    background-image: url(../img/profile-picture.jpg);
    background-position: center top;
    background-size: auto 110%;
    margin-top: 4em;

    @media screen and (max-width: 768px) {
      & {
        position: relative;
        height: 100vh;
      }
    }
  }

  &-text {
    background-color: #252525;
    padding: 2em 3.2em;

    & h1 {
      font-size: 5em;
      margin-top: 0.8em;
      color: $base-color;

      @media screen and (max-width: 768px) {
        & {
          margin-top: auto
        }
      }
    }

    &  h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
  }
}

.fehandbags {
  &-img {
    background-image: url(../img/fehandbags.jpg);
  }

  &-text {
    background-color: red;
  }
}

.eldorado {
  &-img {
    background-image: url(../img/eldoradoart.jpg);
  }

  &-text {
    background-color: blue;
  }
}
