/* ------ Variables  ----- */
$about: #D7263D;
$fehandbags: #F46036;
$eldorado: #1B998B;
$below: #2E294E;
$manik: #C5D86D;

$about-background: $about;
$about-color: $about;

$fehandbags-background: $fehandbags;
$fehandbags-color: $fehandbags;

$eldorado-background: $eldorado;
$eldorado-color: $eldorado;

$below-background: $below;
$below-color: $below;

$manik-background: $manik;
$manik-color: $manik;
