/* ------ Variables  ----- */
$about: green;
$fehandbags: red;
$eldorado: blue;

$about-background: $about;
$about-color: $about;

$fehandbags-background: $fehandbags;
$fehandbags-color: $fehandbags;

$eldorado-background: $eldorado;
$eldorado-color: $eldorado;
