/* ------ Variables  ----- */
$base-color: #3498db;
$base-color-hover: darken($base-color, 10%);
$background: red;
$background-alt: #f2f2f5;
$border: #dcd9d9;
$heading: #374054;
$text: #74808a;
$menu-background: pink
