mixin section(name)
  section(id=`${name}-section` class="h-100")
    .row.no-gutters
      div(class=`${name}-img col-12 col-md-6 section--img` )
      .col-12.col-md-6
        div(class=`${name}-text section--text`)
          block
