mixin section(name)
  section(id=`${name}-section`)
    .row.no-gutters
      div(class=`${name}-img col-12 col-md-6 section--img` )
      div(class=`${name}-content col-12 col-md-6`)
        div(class=`${name}-text section--text`)
          block
