extends _layouts/home
include mixins/section
include mixins/section-content

block content
  include _partials/menu
  include components/about
  +section('fehandbags')
    +section-content(
      'Fe Handbags',
      'Shopify Store',
      'https://fehandbags.com/',
      'High end Colombian handbags and accessories with 100% genuine leather handmade by indigenous tribes such as Kunas, Embera an Wayuu'
    )  
  +section('eldorado')
    +section-content(
      'El Dorado Art',
      'Shopify Store',
      'https://eldoradoart.com/',
      'Productos únicos y exclusivos hechos por comunidades y artistas independientes. Arte, moda y joyería.'
    )  
    
