extends _layouts/home
include mixins/section
include mixins/section-content

block content
  include _partials/menu
  include components/about
  each project in projects
    +section(project.slug)
      +section-content(
        project.name,
        project.type,
        project.url,
        project.description
      )
