#myNav.menu
  .menu-content
    a(href='javascript:void(0)' id="about" class="menu-item").animated.menu-content--item About me
    a(href='javascript:void(0)' id="fehandbags" class="menu-item").animated.menu-content--item Fe Handbags
    a(href='javascript:void(0)' id="eldorado" class="menu-item").animated.menu-content--item El Dorado Art
    
.menu--btn
  span
  a(href="javascript:void(0)")

.title
  h1.d-none.d-sm-none.d-md-block.d-xl-block Ana María Sosa&nbsp;
    span | Web Dev
  h1.d-block.d-sm-block.d-md-none.d-xl-none Ana Sosa&nbsp;
