#myNav.menu
  .menu-content
    a(href='#about' onclick='nav()').animated.menu-content--item About me
    
.menu--btn
  span
  a(href="#")

.title
  h1.d-none.d-sm-none.d-md-block.d-xl-block Ana María Sosa&nbsp;
    span | About Me
  h1.d-block.d-sm-block.d-md-none.d-xl-none Ana Sosa&nbsp;
    span | About Me
