section#about
  .row.no-gutters
    .col-12.col-md-6
      img(src="img/profile-picture.png" class="img-fluid" ).photo-wrapper
    .col-12.col-md-6.container-left
      .about-text
          h1 Hello!
          h2 My name is Ana.
          h2 I'm a colombian web developer currently studying to get my degree in Computer Science at Medellín, Colombia.

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dicta nulla veniam temporibus numquam qui iure eos accusantium minus aliquid optio, ab sunt, expedita mollitia. Reprehenderit excepturi maxime magnam cumque.
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dicta nulla veniam temporibus numquam qui iure eos accusantium minus aliquid optio, ab sunt, expedita mollitia. Reprehenderit excepturi maxime magnam cumque.
          
          h5 If you have a project, or just want to say hi please write me at anamariasosam@gmail.com
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dicta nulla veniam temporibus numquam qui iure eos accusantium minus aliquid optio, ab sunt, expedita mollitia. Reprehenderit excepturi maxime magnam cumque.
          
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic dicta nulla veniam temporibus numquam qui iure eos accusantium minus aliquid optio, ab sunt, expedita mollitia. Reprehenderit excepturi maxime magnam cumque.
          
          h5 If you have a project, or just want to say hi please write me at anamariasosam@gmail.com
          
          h5 If you have a project, or just want to say hi 
