+section("about")
  .text-left
    h2.animated.invisible Hello!
    h6.animated.invisible My name is Ana.
    
    p.animated.invisible I'm a colombian web developer currently studying Computer Science at Medellín, Colombia.
    
    p.animated.invisible I have developed ecommerce stores in Shopify, using technologies like: JQuery, JavaScript, HTML and CSS. I also like to do projects using ReactJS.
    
    p.animated.invisible.d-none.d-sm-none.d-md-block.d-xl-block I am passionate about my work and the problems I solved every day
    
    p.animated.invisible 
     | If you have a project, or just want to say hi please write me at 
     a(href='mailto:anama%72ias%6Fsam@g%6Dail.c%6Fm').about-email anamarias&#111;&#115;am&#64;gm&#97;i&#108;&#46;com
    
    a(href='../resume/ANAMARIASOSAM_RESUME.pdf' class="section--btn" target="_blank" download) DOWNLOAD RESUME
