+section("about")
  .text-left
    h2.animated.invisible Hello!
    h6.animated.invisible My name is Ana.
    p.animated.invisible I'm a colombian web developer currently studying Computer Science at Medellín, Colombia.
    p.animated.invisible If you have a project, or just want to say hi please write me at anamariasosam@gmail.com
