/* ------ Fonts  ----- */
@import "fonts";

/* ------ Global Styles  ----- */
body {
  font-family: 'Avenir', 'Open Sans';
  font-weight: normal;
  font-style: normal;
}

div {
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow-x: hidden;
}

.openNav  {
  overflow: hidden !important;
}
