/* ------ Fonts  ----- */
@import "fonts";

/* ------ Global Styles  ----- */
body {
  font-family: 'Avenir', 'Open Sans';
  font-weight: normal;
  font-style: normal;
}

html, .closeNav {
  overflow: auto;
  position: absolute;
  overflow-x: hidden;
}

.openNav {
  overflow: hidden;
  position: fixed;
}

div {
  margin: 0;
  padding: 0;
}
