/* ------ Fonts  ----- */
@import "fonts";

/* ------ Global Styles  ----- */
body {
  font-family: 'Avenir';
  font-weight: normal;
  font-style: normal;
  overflow-x: hidden !important;
}

div {
  margin: 0;
  padding: 0;
}
